<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>

<head>
<title>Horray!</title>
</head>


<body>
  <div class="container">
      <img src="../static/logo.png" alt="Logo" class="logo">
      <h1> <i> “Codemaking is a science. Codebreaking is an art” </i> </h1>
      <h2>Well it looks like we just found a blooming artist over here!</h2>
      <h2>Congratilations! you made it till the end. We're truly proud of you.</h2>
      <h2>That brings our journey to an end. We sincerely hope you had fun along the way, and that you'll continue to learn more and thrive more, because you've just proven to us that you've got this!</h2>
      <h2>Thank you!</h2>
  </div>
</body>

</html>